body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    font-style:italic;
}

header {
     background-color: black;
    color: deeppink;
    text-align: center;
    padding: 40px;
}
      .hero {
  text-align: center;
  padding: 60px 20px;
  background-color: black;
  color: deeppink;
}


section {
      .skills-grid {
               display: grid; /* enable grid */
               grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
               gap: 15px; /* space between items */
               margin-bottom: 30px;
              }
     .projects-grid {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
              gap: 25px;
              margin-bottom: 40px;
             }
        .skills-grid > div,
            .projects-grid > div {
             padding: 10px;
             background: #f7f7f7;
             border-radius: 8px;
             text-align: center;
            }
        .skills-grid > div:hover,
             .projects-grid > div:hover {
             background: #e0f7fa;
             transform: scale(1.02);
             transition: 0.3s ease;
            }
         .about-grid {
              display: grid;
               grid-template-columns: 1fr 2fr; 
               gap: 20px;
               align-items: center; 
            }
        }

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:black;
    color: deeppink;
}

@media (max-width: 600px) {
  .skills-grid,
  .projects-grid {
    grid-template-columns: 1fr; /* stack in 1 column on small screens */
  }
}











