body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    font-style:italic;
}

header {
    background-color: black;
    color: deeppink;
    text-align: center;
    padding: 40px;
}

section {
    background-color: #e0fff5;
    border-left: 6px solid #00b894;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:black;
    color: deeppink;
}



